*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

:root {
  --pantone-dark-purple: #2d1e2f;
  --pantone-cerulean: #9ccddc;
  --pantone-rose: #f7cac9;
}

body {
  background-color: var(--pantone-dark-purple);
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: var(--pantone-cerulean);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  margin: 20px 0;
  color: var(--pantone-rose);
}

.input-container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.convert-btn {
  background-color: var(--pantone-rose);
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: var(--pantone-dark-purple);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.convert-btn:hover {
  background-color: var(--pantone-cerulean);
  color: var(--pantone-dark-purple);
}

.number-input {
  height: 25px;
  border: 2px solid var(--pantone-rose);
  padding: 2px 4px;
  color: var(--pantone-dark-purple);
}

#result {
  margin: 10px 0;
  min-width: 200px;
  width: fit-content;
  min-height: 80px;
  word-break: break-word;
  padding: 15px;
  border: 3px solid var(--pantone-cerulean);
  font-size: 2rem;
  text-align: center;
  background-color: var(--pantone-rose);
  color: var(--pantone-dark-purple);
}

#animation-container {
  margin: auto;
  max-width: 300px;
}

.animation-frame {
  margin: 20px auto;
  padding: 15px 10px;
  border: 3px solid var(--pantone-rose);
  font-size: 1.2rem;
  text-align: center;
  color: var(--pantone-dark-purple);
  background-color: var(--pantone-cerulean);
}

@media screen and (min-width: 500px) {
  .input-container {
    flex-direction: row;
  }

  #result {
    max-width: 460px;
  }
}
